.container {
  width: 750px;
}

body {
  background: white;
}

#header
{
	width:900px;
	height:100px;
	margin:0 auto;
	margin-top:35px;
	/*background: -o-linear-gradient(top, #0066FF, #83CA54);
	background: -webkit-gradient(linear, left top, left bottom, from(#0066FF), to(#83CA54)); 
	background: -moz-linear-gradient(top,  #0066FF,  #83CA54);*/

	/*background: -o-linear-gradient(top, #009900, #002200);
	background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#002200)); 
	background: -moz-linear-gradient(top, #009900, #002200);*/

	background: -o-linear-gradient(top, #3399FF, #ADD8E6);
	background: -webkit-gradient(linear, left top, left bottom, from(#ADD8E6), to(3399FF)); 
	background: -moz-linear-gradient(top, #ADD8E6, #3399FF);
}
#logo
{
	width:300px;
	height:100px;
	float:left;
	text-align:center;
	line-height:100px;
        font-family:Palatino Linotype;
        font-style:italic;
        font-size:75%;
}

#not_logo
{
	width:600px;
	height:100px;
	float:right;
}

#main_menu
{
	width:600px;
	height:30px;
	/*display:table-cell;
	vertical-align:middle;*/
}

#main_menu ul 
{
	list-style:none;
	margin:0px;
	padding:0px;
	text-align:justify;
}

#main_menu ul  li 
{
	display:inline-block;
	float:left;
	width:119px;
        border-right:1px solid #999999;
	text-align:center;
}


#main_menu ul li.last_main_menu
{
	border-right:1px solid #3399FF;
}


#main_menu ul li a
{
	display:block;	
	padding-top:8px;
	padding-bottom:8px;
	color:black;
 	/*background-color:white;*/
	text-decoration:none;
	font-weight:bold;
	font-family: Times New Roman, Arial, Verdana;
	color: white;
}

#main_menu ul li a:hover 
{
	display:block;	
	padding-top:8px;
	padding-bottom:8px;
	text-decoration: underline;
	background: -o-linear-gradient(top, #3366CC, #5DAFF6);
}

#search_box
{
	width:600px;
	height:70px;
}

#search_logo
{
	width:170px;
	height:70px;
	text-align:center;
	line-height:70px;
	float:left;
}

#search_form
{
	width:430px;
	height:70px;
	float:right;
}

#search_query
{
	margin-left:5px;
	margin-top:23px;
	border-radius:25px 0px 0px 25px;
	background: #fff url('Search.png') 5px 3px no-repeat;
	float:left;
	padding-left:21px;
	border: 1px solid #606060;
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

#search_button, #search_button:hover, #search_button:active, #search_button:focus
{
	margin-left:0px;
	margin-top:23px;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
    	text-align: center;
    	text-decoration: none;
	border-radius:0px 25px 25px 0px;
	background:#F0F0F0;
	border: 1px solid #606060;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/* Navigation */

nav {
  float: none;
}

nav {
  background-color: gray;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.8em 0;
}

nav ul li a {
  padding: 7px 20px;
  font-weight: bold;
  margin-right:2px;
  color:white;
}

nav ul li a:visited {
  color: #FFF;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

select {
width: 300px;
}

.select_author button {
position: relative;
top: -150px;
}
