#header
{
	width:900px;
	height:100px;
	margin:0 auto;
	margin-top:35px;
	/*background: -o-linear-gradient(top, #0066FF, #83CA54);
	background: -webkit-gradient(linear, left top, left bottom, from(#0066FF), to(#83CA54)); 
	background: -moz-linear-gradient(top,  #0066FF,  #83CA54);*/

	/*background: -o-linear-gradient(top, #009900, #002200);
	background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#002200)); 
	background: -moz-linear-gradient(top, #009900, #002200);*/

	background: -o-linear-gradient(top, #3399FF, #ADD8E6);
	background: -webkit-gradient(linear, left top, left bottom, from(#ADD8E6), to(#3399FF)); 
	background: -moz-linear-gradient(top, #3399FF,#ADD8E6);
        -moz-border-radius:    7px;
        -webkit-border-radius: 7px;
        border-radius:         7px;
}

#logo
{
	width:300px;
	height:100px;
	float:left;
	text-align:center;
	line-height:100px;
        font-family:Palatino Linotype;
        font-style:italic;
        font-size:30pt;
}

#not_logo
{
	width:600px;
	height:100px;
	float:right;
}

#main_menu
{
	width:600px;
	height:30px;
	/*display:table-cell;
	vertical-align:middle;*/
}

#main_menu ul 
{
	list-style:none;
	margin:0px;
	padding:0px;
	text-align:justify;
}

#main_menu ul  li 
{
	display:inline-block;
	float:left;
	width:119px;
        border-right:1px solid #999999;
	text-align:center;
}

#main_menu ul li.last_main_menu
{
	border-right:none/*1px solid #3399FF*/;
}

#main_menu ul li a
{
	display:block;	
	padding-top:8px;
	padding-bottom:8px;
	/*background-color:white;*/
	text-decoration:none;
	font-weight:bold;
	font-family: Times New Roman, Arial, Verdana;
        font-size: 14px;
	color: white;
}

#main_menu ul li a:hover 
{
	display:block;	
	padding-top:8px;
	padding-bottom:8px;
	text-decoration: underline;
	background: -o-linear-gradient(top, #3366CC, #5DAFF6);
        background: -moz-linear-gradient(top,#3366CC, #5DAFF6);
}

#search_box
{
	width:600px;
	height:70px;
}

#search_logo
{
	width:170px;
	height:70px;
	text-align:center;
	line-height:70px;
	float:left;
}

#search_form
{
	width:430px;
	height:70px;
	float:right;
}

#search_query
{
        margin-left:5px;
	margin-top:23px;
	border-radius:25px 0px 0px 25px;
	background: #fff url('Search.png') 5px 3px no-repeat;
	float:left;
	padding-left:21px;
	border: 1px solid #606060;
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

#search_button, #search_button:hover, #search_button:active, #search_button:focus
{
        margin-left:0px;
	margin-top:23px;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
    	text-align: center;
    	text-decoration: none;
	border-radius:0px 25px 25px 0px;
	background:#F0F0F0;
	border: 1px solid #606060;
}

#main_area
{
	width:900px;
	height:700px;
	margin:0 auto;
        background:#F0F0F0;
        -moz-box-shadow: 0 0 20px #999999;
        -webkit-box-shadow: 0 0 20px #999999;
	box-shadow:0 0 20px #999999;
}

#personal_area
{
	height:500px;
	width:700px;
	float:left;
}

#name_out
{
	background:#F0F0F0;
	height:50px;
	width:600px;

}

#name
{
	background:#F0F0F0;
	position:relative;
	left:30px;
	top:10px;
	height:35px;
	width:500px;
	font-family:Palatino Linotype;
                  font-style:none;
                  font-size:26px;
}

#image_of
{
	background:#F0F0F0;
	width:160px;
	height:450px;
	float:left;
}

#image_of img
{
	padding-top:40px;
        padding-left:20px;
}

#tab_pers_out
{
	background:#F0F0F0;
	width:440px;
	height:450px;
	float:right;
        
}

#tab_pers
{
	background:#F0F0F0;
	position:relative;
	left:20px;
	top:30px;
	width:380px;
	height:350px;	
	font-family:Palatino Linotype;
        font-size:12px;
}

#tab_pers td
{
	border-bottom:1px dotted black;
}

#lefft
{
	width:564px;
	height:0px;
	border-bottom:1px solid gray;
	float:left;
}

#leff1
{
	
	width:58px;
	height:0px;
	border-bottom:1px solid gray;
	float:left;
}

#leff2
{
	
	width:506px;
	height:0px;
	border-bottom:1px solid #F0F0F0;
	float:right;
}

#righht
{
	width:336px;
	height:0px;
	border-bottom:1px solid gray;
	float:right;
}

#author_menu
{
	width:510px;
	height:30px;
	margin-left:58px;

}

#author_menu ul
{
	list-style:none;
	margin:0;
	padding:0;
	text-align:justify;
}

#author_menu ul li
{
	width:100px;
	display:inline-block;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	height:30px;
	float:left;
	border-radius:0px 0px 3px 3px;
	background:#F0F0F0;
	text-align:center;
}

#author_menu ul li.first_author_menu
{
	border-left:1px solid gray;
}

#author_menu ul li a.active
{
	font-weight:bold;
	color:black;
}

#author_menu ul li a.active:hover 
{
	font-family:Palatino Linotype;
	display:block;	
	padding:4px;
	color:black;
}

#author_menu ul li a
{
	font-family:Palatino Linotype;
	padding:4px;
	display:block;	
	color:black;
	text-decoration:none;
}

#author_menu ul li a:hover 
{
	font-family:Palatino Linotype;
	display:block;	
	padding:4px;
	color:orange;
}



.container {
  width: 750px;
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/* Navigation */

nav {
  float: none;
}

nav {
  background-color: gray;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.8em 0;
}

nav ul li a {
  padding: 7px 20px;
  font-weight: bold;
  margin-right:2px;
  color:white;
}

nav ul li a:visited {
  color: #FFF;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

select {
width: 300px;
}

.select_author button {
position: relative;
top: -150px;
}
